body{
    font-family: 'Raleway';
}

.header-wrapper, .about-wrapper{
    width: 100%;
}
.header-wrapper{
    background-color: #f9f8fb;
}

.background-container{
    background-image: url(../images/Header-about/img.jpg);
    background-repeat: no-repeat;
    width: 1500px;
    margin: 0 auto;
}

.header{

    width: 1170px;
    height: 1000px;
    margin: 0 auto;
}
.about{
    width: 1350px;
    margin: 0 auto;
    height: 700px;
}

.header__menu{
    padding-top: 45px;
}

.menu{
    display: flex;
    height: 60px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.menu__nav-bar{
    width: 560px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 700;
    font-size: 16px;
}

.menu__nav-item{
    padding: 6px 1px 15px 1px;
    border-top: 3px solid transparent;
}

.menu__nav-item:hover{
    border-top: 3px #ff6033 solid;
    box-sizing: border-box;
    transition: all 0.3s;
}

.nav-item__link{
    text-transform: uppercase;
    text-decoration: none;
}

.color--darkgrey{
    color: #262626;
}

.header__header-post{
    margin-top: 240px;
}

.header-post__content{
    width: 370px;
    height: 270px;
    box-sizing: border-box;
}

.content__header-title{
    font-size: 60px;
    font-weight: 900;
    margin-bottom: 10px;
}

.content__header-text{
    width: 370px;
    line-height: 27px;
    margin-bottom: 30px;
}

.p--font{
    font-size: 17px;
    font-weight: 300;
}

.button{
    font-family: 'Raleway';
    font-size: 20px;
    font-weight: light;
    color: #fff;
    width: 200px;
    height: 55px;
    background: #ff6033;
    border: none;
    transition: all 0.5s;
}

.button:hover{
    background: #f3bcad;
    color: rgb(255, 61, 61);
    transition: all 0.5s;
}
.button:active{
    width: 210px;
}
.button:focus{
    outline: none;
}

.header__content-box{
    display: flex;
    justify-content: center;
    margin-top: 275px;
}

.content-box__img-box{
    transition: all 0.8s;
}
.content-box__img-box:hover{
    transform: rotate3d(0, 1, 0, -1turn);
    transition: all 0.8s;
}

.about-wrapper{
    background-color: #00b2b1;
}

.about__about-post{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-sizing:border-box;
    width: 1300px;
}

.about-post__img-wrapper{
    margin-top: 35px;
}

.about-post__content-wrapper{
    margin-top: 160px;
}

.content{
    color: #fff;
    width: 500px;
}

.content__about-title{
    font-size: 90px;
    font-weight: 700;
    margin-bottom: 5px;
}

.content__about-text{
    line-height: 27px;
    margin-bottom: 10px;
}

