// ===================================================================Header===============================================================
@mixin button() {
    color: #fff;
    font-family: 'Raleway';
    font-size: 20px;
    font-weight: 300;
    border: none;
    height: 55px;
    text-align: center;
}
.color--darkgrey{
    color: #262626;
}
.p--font{
    font-size: 17px;
    font-weight: 300;
}


@media (max-width: 1340px){
    .about-wrapper{
        margin-top: -80px;
    }
}

@media (max-width: 1200px){
    .gallery{
        display: flex;
        flex-direction: column;

    }
    .gallery__img-box{
        margin-bottom: 10px;
    }
    .gallery__img-box--top{
        width: 100% !important;
    }
    .gallery__vertical-wrap{
        width: 100% !important;
        padding: 0;
    }
    .gallery__img--right-column1{
        width: 100% !important;
        margin-bottom: 10px;
    }
    .gallery__img--right-column2{
        width: 100% !important;
        margin-bottom: 10px;
    }
    .gallery__img-box--bottom1{
        width: 100% !important;
    }
    .gallery__img-box--bottom2{
        width: 100% !important;
    }
    .gallery__img{
        width: 100% !important;
    }
    .blog__article-wrapper{
        flex-direction: column;
    }
}
@media (max-width: 992px){
    .services{
        flex-direction: column-reverse;
    }
    .services__list{
        margin-top: -200px;
    }
    .services__pic-title{
        font-size: 80px !important;
        margin-left: 100px;
    }
    .services__img{
        margin-left: 0 !important;
    }
}
@media (max-width: 767px) {
    // Header media
    .menu__logo{
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
    .menu__nav-bar{
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
    .content__header-title{
        margin: 0 auto;
        text-align: center;
    }
    .content__header-text{
        margin: 0 auto;
        display: flex;
        justify-content: center;
        text-align: center;
        justify-items: center;
        align-items: center;
    }
    .header-button{
        margin: 0 auto;
    }

    .burger-label{
        display: flex !important;
    }

    .menu__nav-bar{
        display: none !important;
    }
    // About media
    .about__content{
        margin-top: -140px;
    }
    // Services media
    .services__pic-title{
        font-size: 70px !important;
        // margin-left: 45px;
        display: flex;
    }
    .footer{
        flex-direction: column;
    }
    .footer-wrapper{
        height: 130px !important;
    }
    .footer__left-label{
        margin: 0 auto;
        padding-bottom: 10px;
    }
    .footer__logo-wrap{
        margin: 0 auto;
        padding-bottom: 10px;
    }
    .footer__right-label{
        margin: 0 auto;
        padding-bottom: 15px;
    }
}
body{
    font-family: 'Raleway';
            .header-background{
                background-image: url(../images/Header-about/img.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                background-position-x: right;
                background-position-y: top;
                .header{
                    .header__menu{
                        padding-top: 50px;
                        .menu{
                            position: relative;
                            .menu__nav-bar{
                                font-weight: 700;
                                font-size: 16px;
                                width: 560px;
                                display: flex;
                                flex-direction: row;
                                justify-content: space-between;
                                font-weight: 700;
                                font-size: 16px;
                                .menu__nav-item{
                                    padding: 6px 0px 15px 0px;
                                    border-top: 3px solid transparent;
                                    .nav-item__link{
                                        text-transform: uppercase;
                                        text-decoration: none;
                                    }
                                }
                                .menu__nav-item:hover{
                                    border-top: 3px #ff6033 solid;
                                    box-sizing: border-box;
                                    transition: all 0.25s;
                                }
                            }
                            .burger{
                                display: none;
                            }
                            .burger-label{
                                width: 42px;
                                height: 42px;
                                background-image: url(../images/Header-about/menu.svg);
                                background-repeat: no-repeat;
                                background-size: contain;
                                cursor: pointer;
                                margin-top: 2px;
                                margin-right: 5px;
                                position: absolute;
                                right: 5px;
                                display: none;
                                z-index: 2;
                            }
                            .burger-menu{
                                flex-direction: column;
                                position: absolute;
                                right: -430px;
                                z-index: 1;
                                display: none;
                                .burger-item{
                                    width: 70px;
                                    text-align: center;
                                }
                            }
                            .burger:checked ~ .burger-menu{
                                display: flex !important;
                                transition: all 0.5s ease-in;
                            }

                        }
                    }
                    .header__header-post{

                        .header-post__content{
                            padding-top: 200px;
                            .content__header-title{
                                font-size: 60px;
                                font-weight: 900;
                            }
                            .content__header-text{
                                line-height: 27px;
                                color: #dfdfdf;
                                mix-blend-mode: difference;
                            }
                            .header-button{
                                @include button();
                                background: #ff6033;
                                transition: all 0.25s;
                                width: 200px;
                            }
                            .header-button:hover{
                                background: #f3bcad;
                                color: rgb(255, 61, 61);
                                transition: all 0.25s;
                            }
                            .header-button:active{
                            }
                            .header-button:focus{
                                outline: none;
                            }
                        }
                    }
                    .header__content-box{
                        display: flex;
                        justify-content: center;
                        padding-top: 205px;
                        padding-bottom: 100px;
                        .content-box__img-box{
                            transition: all 0.8s;
                        }
                        .content-box__img-box:hover{
                            transform: rotate3d(0, 1, 0, -1turn);
                            transition: all 0.5s;
                        }
                    }
                }
            }
            .about-wrapper{
                background-color: #00b2b1;
                .about{
                    .about__img-wrapper{
                        overflow: hidden;
                        
                        .about__img{
                            width: 95%;
                            margin-left: -25px;
                        }
                    }
                        .about__content{
                            color: #fff;
                            padding-top: 120px;
                            padding-bottom: 120px;
                            .content__about-title{
                                font-size: 90px;
                                font-weight: 700;
                            }
                            .content__about-text{
                                line-height: 27px;
                            }
                        }
                    }
                }
            }
            .services-bacground{
                background: #70bfff;
                .services-wrapper{
                    font-family: 'Raleway';
                    font-weight: 700;
                    .services::before{
                        content: "Our Services";
                        font-size: 90px;
                        color: #fff;
                        position: absolute;
                        top: 0;
                        left: 3%;
                        right: 0;
                        bottom: 0;
                        display: none;
                    }
                    .services{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 110px 0 120px 0;
                        .services__list{
                            z-index: 4;
                            .services__item{
                                background-color: #fff;
                                color: #262626;
                                font-size: 20px;
                                box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
                                transition: all 0.25s;
                                height: 100px;
                                .services__title{
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    margin-top: 18px;
                                }
                                .services__ico{
                                    border-left: 1px #9d9d9d solid;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                }
                                .services__title--align{
                                    text-align: center;
                                }

                            }
                            .services__item:hover{
                                filter: invert(100%);
                                transition: all 0.25s;
                            }
                        }
                        .services__pic-box{
                            height: 525px;
                            .services__img{
                                z-index: 1;
                            }
                            .services__pic-title{
                                margin: -320px auto 0 auto;
                                font-size: 90px;
                                font-weight: 700;
                                color: #fff;
                                width: 560px;
                            }
                        }
                    }
                }
            }
        .gallery{
            font-family: 'Raleway';
            color: #262626;
            background: #ffe92f;
                    .gallery__content-wrapper{
                        .gallery__header{
                            text-align: center;
                            .gallery__title{
                                font-weight: 700;
                                font-size: 90px;
                            }
                            .gallery__subtitle{
                                font-weight: 300;
                                font-size: 17px;
                                line-height: 1.59;
                            }
                        }
                    }
                .gallery__img-container{
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    .gallery__img-box{
                            padding: 5px;
                            .gallery__img{
                            box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
                        }
                    }
                    .gallery__img-box--top{
                        width: fit-content;
                    }
                    .gallery__vertical-wrap{
                        padding-top: 5px;
                        padding-bottom: 5px;
                        display: flex;
                        flex-direction: column;
                        align-content: space-between;
                        width: 30%;
                        .gallery__img--right-column1{
                            box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
                        }
                        .gallery__img--right-column2{
                            box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
                        }
                    }
                        .gallery__img-box--bottom1{
                            width: 50%;
                            padding: 0;
                            .gallery__img{
                                width: 97%;
                            }
                        }
                        .gallery__img-box--bottom2{
                            width: 50%;
                            padding: 0;
                            .gallery__img{
                                width: 97%;
                            }
                        }
                }
                &__button-container{
                    margin-top: 25px;
                    margin-bottom: 25px;
                    display: flex;
                    justify-content: center;
                    .gallery__button{
                        @include button();
                        width: 200px;
                        background: #5585a2;
                        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
                        transition: all 0.25s;
                    }
                    .gallery__button:hover{
                        background: #7dc4f0;
                        color: #37627c;
                        transition: all 0.25s;
                    }
                }
            }
        .subscribe{
            background-image: url(../images/gallery+subscribe/BlueberryBG.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position-x: right;
            background-position-y: top;
            font-family: 'Raleway';
            color: #262626;
                &__container{
                    padding-top: 175px;
                    padding-bottom: 175px;
                }
                &__title{
                    font-size: 40px;
                    margin-bottom: 16px;
                    font-weight: 700;
                    background-color: rgba(255, 255, 255, 0.466);
                    width: min-content;
                    border-radius: 5px;
                }
                &__subtitle{
                    font-weight: 300;
                    font-size: 17px;
                    line-height: 27px;
                    margin-bottom: 28px;
                    background-color: rgba(255, 255, 255, 0.466);
                    width: fit-content;
                    border-radius: 5px;
                }
                &__email-input{
                        border-style: 1px #262626 solid;
                        font-weight: 300;
                        height: 55px;
                        color: #262626;
                        font-family: 'Raleway';
                        letter-spacing: 0.9px;
                    }
                .subscribe__button{
                    @include button();
                    background: #96b92c;
                    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
                    transition: all 0.5s;
                    }
                .subscribe__button:hover{
                        background: #d0f365;
                        color: #96b92c;
                        transition: all 0.25s;
                }
        }
        .blog-wrapper{
            background: #b07cf7;
            padding-top: 60px;
            .blog{
                font-family: 'Raleway', sans-serif;
                background: #b07cf7;
                .blog__header{
                    margin: 0 auto;
                    margin-top: 20px;
                    text-align: center;
                    .blog__title{
                        color: #fff;
                        font-size: 90px;
                        font-weight: 700;
                        margin: 0 auto;
                    }
                    .blog__subtitle{
                        color: #fff;
                        font-size: 17px;
                        font-weight: 300;
                        margin: 0 auto;
                        margin-top: 20px;
                        margin-bottom: 48px;
                        line-height: 25px;
                    }
                }
                .blog__article-wrapper{
                    display: flex;
                    justify-content: space-between;
                    .blog__article{
                        position: relative;
                        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
                        width: 371px;
                        height: 312px;
                        margin: 0 auto;
                        margin-bottom: 10px;
                        .blog__article-img{
                            position: absolute;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: auto;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                        .blog__datebox{
                            border-radius: 5px;
                            background-color: rgba(5, 5, 5, 0.502);
                            width: 60px;
                            height: 60px;
                            text-align: center;
                            position: relative;
                            left: 30px;
                            top: 30px;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-around;
                            .blog__datebox-text{
                                font-weight: 700; 
                                color:#fff;
                                position: absolute;
                            }
                            .blog__datebox-text--day{
                                font-size:32px;
                                left: 0;
                                right: 0;
                                top: -5px;
                            }
                            .blog__datebox-text--month{
                                font-size:21px;
                                left: 0;
                                right: 0;
                                bottom: -20px;
                            }
                        }
                        .blog__article-title{
                            position: absolute;
                            left: 20px;
                            bottom: 40px;
                            line-height: 1.2em;
                            color: #fff;
                            font-weight: 700;
                            font-size: 20px;
                            z-index: 3;
                        }
                        .blog__article-author{
                            position: absolute;
                            left: 20px;
                            bottom: 5px;
                            color: #fff;
                            font-weight: 300;
                            font-size: 13px;
                            z-index: 3;
                        }
                    }
                    .blog__article:after {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 55%,rgba(0,0,0,0.65) 99%,rgba(0,0,0,0.65) 100%);
                        opacity: 0;
                        transition: 0.4s;
                        z-index: 2;
                    }
                    .blog__article:hover:after{
                        opacity: 1; transition: all 0.5s;
                    }
                }
                .blog__button-section{
                    display: flex;
                    justify-content: center;
                    padding-top: 40px;
                    padding-bottom: 120px;
                    .blog__button{
                        @include button();
                        background: rgb(247, 43, 59);
                        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
                        width: 200px;
                        transition: all 0.5s;
                    }
                    .blog__button:hover{
                        background: rgb(253, 212, 216);
                        color: rgb(247, 43, 59);
                        transition: all 0.3s;
                    }
                }
            }
        }
        .contact{
            background-image: url(../images/contact/background.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            font-family: 'Raleway';
            .font-bold{
                font-weight: 700;
            }
            .font-lite{
                font-weight: 300;
            }
            .contact__header{
                padding-top: 80px;
                text-align: center;
                .contact__title{
                    font-size: 90px;
                }
                .contact__subtitle{
                    width: 380px;
                    font-size: 17px;
                    margin-top: 20px;
                    line-height: 25px;
                    margin: 0 auto;
                    margin-bottom: 40px;
                }
            }
            .main-content__wrapper{
                padding-bottom: 50px;
                .main-content{
                    display: flex;
                    .main-content__wrapper-left-box{
                        form{
                            .input-section{
                                .input-section__item{
                                    height: 50px;
                                    border: none;
                                    background: rgb(0, 196, 196);
                                    opacity: 0.502;
                                    color: #fff;
                                    font-family: 'Raleway';
                                    font-weight: 300;
                                    padding-left: 10px;
                                }
                                .input-section__item::-webkit-input-placeholder{
                                    color: #fff;
                                }
                                .input-section__item:focus{
                                    border-left: 5px #355b82 solid;
                                }
                                .input-section--textarea{
                                    height: 250px;
                                    font-family: 'Raleway';
                                    padding-top: 20px;
                                }
                                .input-section__submit{
                                    height: 50px;
                                    border: none;
                                    background: rgb(5, 126, 126);
                                    opacity: 0.950;
                                    color: #fff;
                                    font-family: 'Raleway';
                                    font-weight: 300;
                                    transition: all 0.5s;
                                }
                                .input-section__submit:hover{
                                    background: rgb(126, 235, 220);
                                    color: rgb(5, 126, 126);
                                    transition: all 0.5s;
                                }
                                .error{
                                    font-size: 10px;
                                    margin-left: 10px;
                                    font-weight: 700;
                                    color: rgb(165, 115, 115);
                                    visibility: hidden;
                                }
                                .input-section__item:invalid+.error{
                                    visibility: visible;
                                }
                                
                            }
                            
                        }
                    }
                    .main-content__wrapper-right-box{
                        .contact-box{
                            .contact-box__label{
                                font-size: 17px;
                                text-transform: uppercase;
                                background-color: rgba(255, 255, 255, 0.068);
                                border-radius: 5px;
                            }
                            .contact-box__value{
                                font-size: 20px;
                                margin-bottom: 15px;
                                background-color: rgba(255, 255, 255, 0.144);
                                border-radius: 5px;
                            }
                        }
                    }
                }
            }
        }
        .footer-wrapper{
            background: #262626;
            height: 60px;
            .footer{
                height: 27px;
                display: flex;
                justify-content: space-between;
                margin: 0 auto;
                padding-top: 20px;
                font-family: 'Raleway';
                .footer__left-label{
                    font-size: 16px;
                    color: #b9b9b9;
                }
                .footer__logo-wrap{
                    .footer__logo{
                        height: 27px;
                    }
                }
                .footer__right-label{
                    font-size: 15px;
                    color: #b9b9b9;
                    .marked-text{
                        color: #ff2b58;
                    }
                }
                
            }
        }
