.color--darkgrey {
  color: #262626;
}

.p--font {
  font-size: 17px;
  font-weight: 300;
}

@media (max-width: 1340px) {
  .about-wrapper {
    margin-top: -80px;
  }
}

@media (max-width: 1200px) {
  .gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .gallery__img-box {
    margin-bottom: 10px;
  }
  .gallery__img-box--top {
    width: 100% !important;
  }
  .gallery__vertical-wrap {
    width: 100% !important;
    padding: 0;
  }
  .gallery__img--right-column1 {
    width: 100% !important;
    margin-bottom: 10px;
  }
  .gallery__img--right-column2 {
    width: 100% !important;
    margin-bottom: 10px;
  }
  .gallery__img-box--bottom1 {
    width: 100% !important;
  }
  .gallery__img-box--bottom2 {
    width: 100% !important;
  }
  .gallery__img {
    width: 100% !important;
  }
  .blog__article-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 992px) {
  .services {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .services__list {
    margin-top: -200px;
  }
  .services__pic-title {
    font-size: 80px !important;
    margin-left: 100px;
  }
  .services__img {
    margin-left: 0 !important;
  }
}

@media (max-width: 767px) {
  .menu__logo {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .menu__nav-bar {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .content__header-title {
    margin: 0 auto;
    text-align: center;
  }
  .content__header-text {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-button {
    margin: 0 auto;
  }
  .burger-label {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .menu__nav-bar {
    display: none !important;
  }
  .about__content {
    margin-top: -140px;
  }
  .services__pic-title {
    font-size: 70px !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-wrapper {
    height: 130px !important;
  }
  .footer__left-label {
    margin: 0 auto;
    padding-bottom: 10px;
  }
  .footer__logo-wrap {
    margin: 0 auto;
    padding-bottom: 10px;
  }
  .footer__right-label {
    margin: 0 auto;
    padding-bottom: 15px;
  }
}

body {
  font-family: 'Raleway';
}

body .header-background {
  background-image: url(../images/Header-about/img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: right;
  background-position-y: top;
}

body .header-background .header .header__menu {
  padding-top: 50px;
}

body .header-background .header .header__menu .menu {
  position: relative;
}

body .header-background .header .header__menu .menu .menu__nav-bar {
  font-weight: 700;
  font-size: 16px;
  width: 560px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 700;
  font-size: 16px;
}

body .header-background .header .header__menu .menu .menu__nav-bar .menu__nav-item {
  padding: 6px 0px 15px 0px;
  border-top: 3px solid transparent;
}

body .header-background .header .header__menu .menu .menu__nav-bar .menu__nav-item .nav-item__link {
  text-transform: uppercase;
  text-decoration: none;
}

body .header-background .header .header__menu .menu .menu__nav-bar .menu__nav-item:hover {
  border-top: 3px #ff6033 solid;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

body .header-background .header .header__menu .menu .burger {
  display: none;
}

body .header-background .header .header__menu .menu .burger-label {
  width: 42px;
  height: 42px;
  background-image: url(../images/Header-about/menu.svg);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  margin-top: 2px;
  margin-right: 5px;
  position: absolute;
  right: 5px;
  display: none;
  z-index: 2;
}

body .header-background .header .header__menu .menu .burger-menu {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  right: -430px;
  z-index: 1;
  display: none;
}

body .header-background .header .header__menu .menu .burger-menu .burger-item {
  width: 70px;
  text-align: center;
}

body .header-background .header .header__menu .menu .burger:checked ~ .burger-menu {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

body .header-background .header .header__header-post .header-post__content {
  padding-top: 200px;
}

body .header-background .header .header__header-post .header-post__content .content__header-title {
  font-size: 60px;
  font-weight: 900;
}

body .header-background .header .header__header-post .header-post__content .content__header-text {
  line-height: 27px;
  color: #dfdfdf;
  mix-blend-mode: difference;
}

body .header-background .header .header__header-post .header-post__content .header-button {
  color: #fff;
  font-family: 'Raleway';
  font-size: 20px;
  font-weight: 300;
  border: none;
  height: 55px;
  text-align: center;
  background: #ff6033;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  width: 200px;
}

body .header-background .header .header__header-post .header-post__content .header-button:hover {
  background: #f3bcad;
  color: #ff3d3d;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

body .header-background .header .header__header-post .header-post__content .header-button:focus {
  outline: none;
}

body .header-background .header .header__content-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 205px;
  padding-bottom: 100px;
}

body .header-background .header .header__content-box .content-box__img-box {
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

body .header-background .header .header__content-box .content-box__img-box:hover {
  -webkit-transform: rotate3d(0, 1, 0, -1turn);
          transform: rotate3d(0, 1, 0, -1turn);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

body .about-wrapper {
  background-color: #00b2b1;
}

body .about-wrapper .about .about__img-wrapper {
  overflow: hidden;
}

body .about-wrapper .about .about__img-wrapper .about__img {
  width: 95%;
  margin-left: -25px;
}

body .about-wrapper .about .about__content {
  color: #fff;
  padding-top: 120px;
  padding-bottom: 120px;
}

body .about-wrapper .about .about__content .content__about-title {
  font-size: 90px;
  font-weight: 700;
}

body .about-wrapper .about .about__content .content__about-text {
  line-height: 27px;
}

.services-bacground {
  background: #70bfff;
}

.services-bacground .services-wrapper {
  font-family: 'Raleway';
  font-weight: 700;
}

.services-bacground .services-wrapper .services::before {
  content: "Our Services";
  font-size: 90px;
  color: #fff;
  position: absolute;
  top: 0;
  left: 3%;
  right: 0;
  bottom: 0;
  display: none;
}

.services-bacground .services-wrapper .services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 110px 0 120px 0;
}

.services-bacground .services-wrapper .services .services__list {
  z-index: 4;
}

.services-bacground .services-wrapper .services .services__list .services__item {
  background-color: #fff;
  color: #262626;
  font-size: 20px;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  height: 100px;
}

.services-bacground .services-wrapper .services .services__list .services__item .services__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 18px;
}

.services-bacground .services-wrapper .services .services__list .services__item .services__ico {
  border-left: 1px #9d9d9d solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services-bacground .services-wrapper .services .services__list .services__item .services__title--align {
  text-align: center;
}

.services-bacground .services-wrapper .services .services__list .services__item:hover {
  -webkit-filter: invert(100%);
          filter: invert(100%);
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.services-bacground .services-wrapper .services .services__pic-box {
  height: 525px;
}

.services-bacground .services-wrapper .services .services__pic-box .services__img {
  z-index: 1;
}

.services-bacground .services-wrapper .services .services__pic-box .services__pic-title {
  margin: -320px auto 0 auto;
  font-size: 90px;
  font-weight: 700;
  color: #fff;
  width: 560px;
}

.gallery {
  font-family: 'Raleway';
  color: #262626;
  background: #ffe92f;
}

.gallery .gallery__content-wrapper .gallery__header {
  text-align: center;
}

.gallery .gallery__content-wrapper .gallery__header .gallery__title {
  font-weight: 700;
  font-size: 90px;
}

.gallery .gallery__content-wrapper .gallery__header .gallery__subtitle {
  font-weight: 300;
  font-size: 17px;
  line-height: 1.59;
}

.gallery .gallery__img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.gallery .gallery__img-container .gallery__img-box {
  padding: 5px;
}

.gallery .gallery__img-container .gallery__img-box .gallery__img {
  -webkit-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
}

.gallery .gallery__img-container .gallery__img-box--top {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.gallery .gallery__img-container .gallery__vertical-wrap {
  padding-top: 5px;
  padding-bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  width: 30%;
}

.gallery .gallery__img-container .gallery__vertical-wrap .gallery__img--right-column1 {
  -webkit-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
}

.gallery .gallery__img-container .gallery__vertical-wrap .gallery__img--right-column2 {
  -webkit-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
}

.gallery .gallery__img-container .gallery__img-box--bottom1 {
  width: 50%;
  padding: 0;
}

.gallery .gallery__img-container .gallery__img-box--bottom1 .gallery__img {
  width: 97%;
}

.gallery .gallery__img-container .gallery__img-box--bottom2 {
  width: 50%;
  padding: 0;
}

.gallery .gallery__img-container .gallery__img-box--bottom2 .gallery__img {
  width: 97%;
}

.gallery__button-container {
  margin-top: 25px;
  margin-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gallery__button-container .gallery__button {
  color: #fff;
  font-family: 'Raleway';
  font-size: 20px;
  font-weight: 300;
  border: none;
  height: 55px;
  text-align: center;
  width: 200px;
  background: #5585a2;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.gallery__button-container .gallery__button:hover {
  background: #7dc4f0;
  color: #37627c;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.subscribe {
  background-image: url(../images/gallery+subscribe/BlueberryBG.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: top;
  font-family: 'Raleway';
  color: #262626;
}

.subscribe__container {
  padding-top: 175px;
  padding-bottom: 175px;
}

.subscribe__title {
  font-size: 40px;
  margin-bottom: 16px;
  font-weight: 700;
  background-color: rgba(255, 255, 255, 0.466);
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  border-radius: 5px;
}

.subscribe__subtitle {
  font-weight: 300;
  font-size: 17px;
  line-height: 27px;
  margin-bottom: 28px;
  background-color: rgba(255, 255, 255, 0.466);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 5px;
}

.subscribe__email-input {
  border-style: 1px #262626 solid;
  font-weight: 300;
  height: 55px;
  color: #262626;
  font-family: 'Raleway';
  letter-spacing: 0.9px;
}

.subscribe .subscribe__button {
  color: #fff;
  font-family: 'Raleway';
  font-size: 20px;
  font-weight: 300;
  border: none;
  height: 55px;
  text-align: center;
  background: #96b92c;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.subscribe .subscribe__button:hover {
  background: #d0f365;
  color: #96b92c;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.blog-wrapper {
  background: #b07cf7;
  padding-top: 60px;
}

.blog-wrapper .blog {
  font-family: 'Raleway', sans-serif;
  background: #b07cf7;
}

.blog-wrapper .blog .blog__header {
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
}

.blog-wrapper .blog .blog__header .blog__title {
  color: #fff;
  font-size: 90px;
  font-weight: 700;
  margin: 0 auto;
}

.blog-wrapper .blog .blog__header .blog__subtitle {
  color: #fff;
  font-size: 17px;
  font-weight: 300;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 48px;
  line-height: 25px;
}

.blog-wrapper .blog .blog__article-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blog-wrapper .blog .blog__article-wrapper .blog__article {
  position: relative;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
  width: 371px;
  height: 312px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.blog-wrapper .blog .blog__article-wrapper .blog__article .blog__article-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: auto;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.blog-wrapper .blog .blog__article-wrapper .blog__article .blog__datebox {
  border-radius: 5px;
  background-color: rgba(5, 5, 5, 0.502);
  width: 60px;
  height: 60px;
  text-align: center;
  position: relative;
  left: 30px;
  top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.blog-wrapper .blog .blog__article-wrapper .blog__article .blog__datebox .blog__datebox-text {
  font-weight: 700;
  color: #fff;
  position: absolute;
}

.blog-wrapper .blog .blog__article-wrapper .blog__article .blog__datebox .blog__datebox-text--day {
  font-size: 32px;
  left: 0;
  right: 0;
  top: -5px;
}

.blog-wrapper .blog .blog__article-wrapper .blog__article .blog__datebox .blog__datebox-text--month {
  font-size: 21px;
  left: 0;
  right: 0;
  bottom: -20px;
}

.blog-wrapper .blog .blog__article-wrapper .blog__article .blog__article-title {
  position: absolute;
  left: 20px;
  bottom: 40px;
  line-height: 1.2em;
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  z-index: 3;
}

.blog-wrapper .blog .blog__article-wrapper .blog__article .blog__article-author {
  position: absolute;
  left: 20px;
  bottom: 5px;
  color: #fff;
  font-weight: 300;
  font-size: 13px;
  z-index: 3;
}

.blog-wrapper .blog .blog__article-wrapper .blog__article:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(55%, rgba(0, 0, 0, 0)), color-stop(99%, rgba(0, 0, 0, 0.65)), to(rgba(0, 0, 0, 0.65)));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 55%, rgba(0, 0, 0, 0.65) 99%, rgba(0, 0, 0, 0.65) 100%);
  opacity: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  z-index: 2;
}

.blog-wrapper .blog .blog__article-wrapper .blog__article:hover:after {
  opacity: 1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.blog-wrapper .blog .blog__button-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 40px;
  padding-bottom: 120px;
}

.blog-wrapper .blog .blog__button-section .blog__button {
  color: #fff;
  font-family: 'Raleway';
  font-size: 20px;
  font-weight: 300;
  border: none;
  height: 55px;
  text-align: center;
  background: #f72b3b;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
  width: 200px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.blog-wrapper .blog .blog__button-section .blog__button:hover {
  background: #fdd4d8;
  color: #f72b3b;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.contact {
  background-image: url(../images/contact/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Raleway';
}

.contact .font-bold {
  font-weight: 700;
}

.contact .font-lite {
  font-weight: 300;
}

.contact .contact__header {
  padding-top: 80px;
  text-align: center;
}

.contact .contact__header .contact__title {
  font-size: 90px;
}

.contact .contact__header .contact__subtitle {
  width: 380px;
  font-size: 17px;
  margin-top: 20px;
  line-height: 25px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.contact .main-content__wrapper {
  padding-bottom: 50px;
}

.contact .main-content__wrapper .main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact .main-content__wrapper .main-content .main-content__wrapper-left-box form .input-section .input-section__item {
  height: 50px;
  border: none;
  background: #00c4c4;
  opacity: 0.502;
  color: #fff;
  font-family: 'Raleway';
  font-weight: 300;
  padding-left: 10px;
}

.contact .main-content__wrapper .main-content .main-content__wrapper-left-box form .input-section .input-section__item::-webkit-input-placeholder {
  color: #fff;
}

.contact .main-content__wrapper .main-content .main-content__wrapper-left-box form .input-section .input-section__item:focus {
  border-left: 5px #355b82 solid;
}

.contact .main-content__wrapper .main-content .main-content__wrapper-left-box form .input-section .input-section--textarea {
  height: 250px;
  font-family: 'Raleway';
  padding-top: 20px;
}

.contact .main-content__wrapper .main-content .main-content__wrapper-left-box form .input-section .input-section__submit {
  height: 50px;
  border: none;
  background: #057e7e;
  opacity: 0.950;
  color: #fff;
  font-family: 'Raleway';
  font-weight: 300;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.contact .main-content__wrapper .main-content .main-content__wrapper-left-box form .input-section .input-section__submit:hover {
  background: #7eebdc;
  color: #057e7e;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.contact .main-content__wrapper .main-content .main-content__wrapper-left-box form .input-section .error {
  font-size: 10px;
  margin-left: 10px;
  font-weight: 700;
  color: #a57373;
  visibility: hidden;
}

.contact .main-content__wrapper .main-content .main-content__wrapper-left-box form .input-section .input-section__item:invalid + .error {
  visibility: visible;
}

.contact .main-content__wrapper .main-content .main-content__wrapper-right-box .contact-box .contact-box__label {
  font-size: 17px;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0.068);
  border-radius: 5px;
}

.contact .main-content__wrapper .main-content .main-content__wrapper-right-box .contact-box .contact-box__value {
  font-size: 20px;
  margin-bottom: 15px;
  background-color: rgba(255, 255, 255, 0.144);
  border-radius: 5px;
}

.footer-wrapper {
  background: #262626;
  height: 60px;
}

.footer-wrapper .footer {
  height: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  padding-top: 20px;
  font-family: 'Raleway';
}

.footer-wrapper .footer .footer__left-label {
  font-size: 16px;
  color: #b9b9b9;
}

.footer-wrapper .footer .footer__logo-wrap .footer__logo {
  height: 27px;
}

.footer-wrapper .footer .footer__right-label {
  font-size: 15px;
  color: #b9b9b9;
}

.footer-wrapper .footer .footer__right-label .marked-text {
  color: #ff2b58;
}
/*# sourceMappingURL=style.css.map */