// ===================================================================Header===============================================================
@mixin button() {
    color: #fff;
    font-family: 'Raleway';
    font-size: 20px;
    font-weight: 300;
    border: none;
    height: 55px;
    text-align: center;
}
.color--darkgrey{
    color: #262626;
}
.p--font{
    font-size: 17px;
    font-weight: 300;
}


@media (max-width: 1340px){
    .about-wrapper{
        margin-top: -80px;
    }
}
@media (max-width: 992px){
    .services{
        flex-direction: column-reverse;
    }
    .services__list{
        margin-top: -200px;
    }
    .services__pic-title{
        font-size: 80px !important;
        margin-left: 100px;
    }
}
@media (max-width: 767px) {
    // Header media
    .menu__logo{
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
    .menu__nav-bar{
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
    .content__header-title{
        margin: 0 auto;
        text-align: center;
    }
    .content__header-text{
        margin: 0 auto;
        display: flex;
        justify-content: center;
        text-align: center;
        justify-items: center;
        align-items: center;
    }
    .header-button{
        margin: 0 auto;
    }
    // About media
    .about__content{
        margin-top: -140px;
    }
    // Services media
    .services__pic-title{
        font-size: 70px !important;
        // margin-left: 45px;
        display: flex;
    }
}
body{
    font-family: 'Raleway';
            .header-background{
                background-image: url(../images/Header-about/img.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                background-position-x: right;
                background-position-y: top;
                .header{
                    .header__menu{
                        padding-top: 50px;
                        .menu{
                            .menu__nav-bar{
                                font-weight: 700;
                                font-size: 16px;
                                width: 560px;
                                display: flex;
                                flex-direction: row;
                                justify-content: space-between;
                                font-weight: 700;
                                font-size: 16px;
                                .menu__nav-item{
                                    padding: 6px 0px 15px 0px;
                                    border-top: 3px solid transparent;
                                    .nav-item__link{
                                        text-transform: uppercase;
                                        text-decoration: none;
                                    }
                                }
                                .menu__nav-item:hover{
                                    border-top: 3px #ff6033 solid;
                                    box-sizing: border-box;
                                    transition: all 0.25s;
                                }
                            }
                        }
                    }
                    .header__header-post{

                        .header-post__content{
                            padding-top: 200px;
                            .content__header-title{
                                font-size: 60px;
                                font-weight: 900;
                            }
                            .content__header-text{
                                line-height: 27px;
                            }
                            .header-button{
                                @include button();
                                background: #ff6033;
                                transition: all 0.25s;
                                width: 200px;
                            }
                            .header-button:hover{
                                background: #f3bcad;
                                color: rgb(255, 61, 61);
                                transition: all 0.25s;
                            }
                            .header-button:active{
                            }
                            .header-button:focus{
                                outline: none;
                            }
                        }
                    }
                    .header__content-box{
                        display: flex;
                        justify-content: center;
                        padding-top: 205px;
                        padding-bottom: 100px;
                        .content-box__img-box{
                            transition: all 0.8s;
                        }
                        .content-box__img-box:hover{
                            transform: rotate3d(0, 1, 0, -1turn);
                            transition: all 0.5s;
                        }
                    }
                }
            }
            .about-wrapper{
                background-color: #00b2b1;
                .about{
                    .about__img-wrapper{
                        overflow: hidden;
                        .about__img{
                            width: 100%;
                        }
                    }
                        .about__content{
                            color: #fff;
                            padding-top: 120px;
                            padding-bottom: 120px;
                            .content__about-title{
                                font-size: 90px;
                                font-weight: 700;
                            }
                            .content__about-text{
                                line-height: 27px;
                            }
                        }
                    }
                }
            }
            .services-bacground{
                background: #70bfff;
                .services-wrapper{
                    font-family: 'Raleway';
                    font-weight: 700;
                    .services::before{
                        content: "Our Services";
                        font-size: 90px;
                        color: #fff;
                        position: absolute;
                        top: 0;
                        left: 3%;
                        right: 0;
                        bottom: 0;
                        display: none;
                    }
                    .services{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 110px 0 120px 0;
                        .services__list{
                            z-index: 4;
                            .services__item{
                                background-color: #fff;
                                color: #262626;
                                font-size: 20px;
                                box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
                                transition: all 0.25s;
                                height: 100px;
                                .services__title{
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    margin-top: 18px;
                                }
                                .services__ico{
                                    border-left: 1px #9d9d9d solid;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                }
                                .services__title--align{
                                    text-align: center;
                                }

                            }
                            .services__item:hover{
                                filter: invert(100%);
                                transition: all 0.25s;
                            }
                        }
                        .services__pic-box{
                            height: 525px;
                            .services__img{
                                z-index: 1;
                            }
                            .services__pic-title{
                                margin: -320px auto 0 auto;
                                font-size: 90px;
                                font-weight: 700;
                                color: #fff;
                                width: 560px;
                            }
                        }
                    }
                }
            }
        .gallery--box-wrapper{
            background: #ffe92f;
    
        .gallery{
            background: #ffe92f;
            font-family: 'Raleway';
            color: #262626;
                    .gallery__content-wrapper{
                        margin: 0 auto;
                        .gallery__header{
                            text-align: center;
                            .gallery__title{
                                font-weight: 700;
                                font-size: 90px;
                            }
                            .gallery__subtitle-wrap{
                                margin-top: -70px;
                                .gallery__subtitle{
                                    font-weight: 300;
                                    font-size: 17px;
                                    line-height: 1.59;
                                }
                            }
                        }
                    }
                &__img-container{
                    .gallery__img-box{
                        .gallery__img{
                            box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
                        }
                        }
                        .gallery__vertical-wrap{
                        }
                }
                &__button-container{
                    margin-top: 25px;
                    display: flex;
                    justify-content: center;
                    .gallery__button{
                        @include button();
                        background: #5585a2;
                        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
                        transition: all 0.25s;
                    }
                    .gallery__button:hover{
                        background: #7dc4f0;
                        color: #37627c;
                        transition: all 0.25s;
                    }
                }
            }
        }
        .subscribe{
            background-image: url(../images/gallery+subscribe/BlueberryBG.jpg);
            background-size: cover;
            font-family: 'Raleway';
            color: #262626;
                &__container{
                }
                &__title{
                    font-size: 40px;
                    margin-bottom: 16px;
                }
                &__subtitle{
                    font-weight: 300;
                    font-size: 17px;
                    line-height: 27px;
                    margin-bottom: 28px;
                }
                &__email-input{
                        border-style: 1px #262626 solid;
                        font-weight: 300;
                        color: #262626;
                        font-family: 'Raleway';
                        letter-spacing: 0.9px;
                    }
                .subscribe__button{
                    @include button();
                    background: #96b92c;
                    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
                    transition: all 0.5s;
                    }
                .subscribe__button:hover{
                        background: #d0f365;
                        color: #96b92c;
                        transition: all 0.25s;
                }
        }
        .blog-wrapper{
            background: #b07cf7;
            padding-top: 60px;
            .blog{
                font-family: 'Raleway', sans-serif;
                background: #b07cf7;
                .blog__header{
                    margin-top: 20px;
                    .blog__title{
                        color: #fff;
                        font-size: 90px;
                        font-weight: 700;
                    }
                    .blog__subtitle{
                        color: #fff;
                        font-size: 17px;
                        font-weight: 300;
                        margin-top: 20px;
                        margin-bottom: 48px;
                        line-height: 25px;
                    }
                }
                .blog__article-wrapper{
                    .blog__article{
                        background-repeat: no-repeat;
                        position: relative;
                        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
                        .blog__datebox{
                            border-radius: 5px;
                            background-color: rgba(38, 38, 38, 0.502);
                            width: 60px;
                            height: 60px;
                            text-align: center;
                            position: relative;
                            left: 30px;
                            top: 30px;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-around;
                            .blog__datebox-text{
                                font-weight: 700; 
                                color:#fff;
                            }
                            .blog__datebox-text--day{
                                font-size:32px;
                            }
                            .blog__datebox-text--month{
                                font-size:21px;
                            }
                        }
                        .blog__article-title{
                            position: absolute;
                            left: 20px;
                            bottom: 55px;
                            color: #fff;
                            font-weight: 700;
                            font-size: 20px;
                            z-index: 3;
                        }
                        .blog__article-author{
                            position: absolute;
                            left: 20px;
                            bottom: 20px;
                            color: #fff;
                            font-weight: 300;
                            font-size: 13px;
                            z-index: 3;
                        }
                    }
                    .blog__article:after {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 55%,rgba(0,0,0,0.65) 99%,rgba(0,0,0,0.65) 100%);
                        opacity: 0;
                        transition: 0.4s;
                        z-index: 2;
                    }
                    .blog__article:hover:after{
                        opacity: 1; transition: all 0.5s;
                    }
                    .blog__article--case1{
                        background-image: url(../images/blog/GreenSmoothie.jpg);
                    }
                    .blog__article--case2{
                        background-image: url(../images/blog/Cream-Soup.jpg);
                    }
                    .blog__article--case3{
                        background-image: url(../images/blog/Raspberry.jpg);
                    }
                    .blog__button{
                        @include button();
                        background: rgb(247, 43, 59);
                        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
                        transition: all 0.5s;
                    }
                    .blog__button:hover{
                        box-shadow:0px 2px 8px 1px #292828;
                        transition: all 0.4s;
                    }
                }
            }
        }
        .contact{
            background-image: url(../images/contact/background.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            font-family: 'Raleway';
            .font-bold{
                font-weight: 700;
            }
            .font-lite{
                font-weight: 300;
            }
            .contact__header{
                padding-top: 80px;
                text-align: center;
                .contact__title{
                    font-size: 90px;
                }
                .contact__subtitle{
                    font-size: 17px;
                    margin-top: 20px;
                    line-height: 25px;
                }
            }
            .main-content{
                display: flex;
                .main-content__wrapper-left-box{
                    padding-top: 42px;
                    padding-left: 10px;
                    form{
                        .input-section{
                            .input-section__item{
                                height: 50px;
                                border: none;
                                background: rgb(0, 196, 196);
                                opacity: 0.502;
                                color: #fff;
                                font-family: 'Raleway';
                                font-weight: 300;
                            }
                            .input-section__item::-webkit-input-placeholder{
                                color: #fff;
                            }
                            .input-section__item:focus{
                                border-left: 5px #355b82 solid;
                            }
                            .input-section--textarea{
                                height: 250px;
                                font-family: 'Raleway';
                                padding-top: 20px;
                            }
                            .input-section__submit{
                                height: 50px;
                                border: none;
                                background: rgb(5, 126, 126);
                                opacity: 0.950;
                                color: #fff;
                                font-family: 'Raleway';
                                font-weight: 300;
                                transition: all 0.5s;
                            }
                            .input-section__submit:hover{
                                background: rgb(126, 235, 220);
                                color: rgb(5, 126, 126);
                                transition: all 0.5s;
                            }
                            .error{
                                font-size: 10px;
                                margin-left: 10px;
                                font-weight: 700;
                                color: rgb(165, 115, 115);
                                visibility: hidden;
                            }
                            .input-section__item:invalid+.error{
                                visibility: visible;
                            }
                            
                        }
                        
                    }
                }
                .main-content__wrapper-right-box{
                    padding-top: 40px;
                    .contact-box{
                        .contact-box__label{
                            font-size: 17px;
                            text-transform: uppercase;
                        }
                        .contact-box__value{
                            font-size: 20px;
                            margin-bottom: 15px;
                        }
                    }
                }
            }
        }
        .footer-wrapper{
            background: #262626;
            height: 90px;
            .footer{
                height: 27px;
                display: flex;
                justify-content: space-between;
                margin: 0 auto;
                font-family: 'Raleway';
                .footer__left-label{
                    font-size: 16px;
                    color: #b9b9b9;
                }
                .footer__logo-wrap{
                    margin-right: 65px;
                    .footer__logo{
                        height: 27px;
                    }
                }
                .footer__right-label{
                    font-size: 15px;
                    color: #b9b9b9;
                    .marked-text{
                        color: #ff2b58;
                    }
                }
                
            }
        }
